<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>직방님 쓰기 편해져주세요</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/semantic-ui/dist/semantic.min.css') }}"/>
  <style>
    .ui.card > .content {
      padding: .7em;
    }

    .ui.card > .content > .header {
      font-size: 1em !important;
    }

    .ui.card > .image > a > div.image {
      width: 100%;
      height: 0;
      padding-bottom: 70%;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
  </style>
</head>
<body>

<h2 class="ui center aligned icon header" style="margin-top: 10px;">
  <i class="building icon"></i>
  직방 편하게 보기
</h2>
<p style="text-align: center;">
  더 편리한 직방이 되길 바라며....
</p>

<div class="ui container">
  <div class="ui four column grid">
    {% for item in room_list %}
    <div class="column">
      <div class="ui link card">
        <div class="image">
          <a class="image" href="{{ item.link }}">
            <div class="image background" style="background-image: url({{ item.thumbnail }})"></div>
          </a>
        </div>
        <div class="content">
          <a class="header" href="{{ item.link }}">{{ item.title }}</a>
          <div class="meta">
            {{ item.building_type }} {{ item.room_type }} {{ item.floor }}
          </div>
          <div class="description">
            <div class="ui list">
              <div class="item">
                <i class="square outline icon"></i>
                <div class="content">
                  크기 : {{ item.size }}
                </div>
              </div>
              <div class="item">
                <i class="money icon"></i>
                <div class="content">
                  관리비 : {{ item.manage }}
                </div>
              </div>
              <div class="item">
                <i class="options icon"></i>
                <div class="content">
                  옵션 : {{ item.options }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            {{ item.updated_at }}
          </span>
          <span>
            <i class="won icon"></i>
            {{ item.deposit }}/{{ item.rent }}
          </span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='lib/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/semantic-ui/dist/semantic.min.js') }}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78356523-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>